In [3]:
import pandas as pd
import praw
import re
import requests
import time 
import json
import numpy as np
import datetime

import nltk
# nltk.download('stopwords')
# nltk.download('punkt_tab')

from nltk.corpus import stopwords
from gensim.corpora import Dictionary
from gensim.models import TfidfModel

from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# CLIENT_ID = "Yew9qy_Emf2ltiSuOqjiEQ"
# CLIENT_SECRET = "wjbSF31tGZSE0J5qbzr-bIXeLnKXew"
# USER_AGENT = "sommer-clarku"

CLIENT_ID = "OKi0keVw1m4blsktPESl-A"
CLIENT_SECRET = "4WQMoXYrGgMtPH8kNiepiMS7CD8y8w"
USER_AGENT = "IllDevelopment7829"

reddit = praw.Reddit(
    client_id = CLIENT_ID,
    client_secret = CLIENT_SECRET,
    user_agent = USER_AGENT 
)

headers = {
	# Tenzin
	# 'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64; rv:136.0) Gecko/20100101 Firefox/136.0' 

	# Elliot
	# "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.3 Safari/605.1.15"
	'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:137.0) Gecko/20100101 Firefox/137.0"
}

In [ ]:
# Collect Boston Red Sox data

urls = []
for thread in reddit.subreddit('redsox').top(time_filter="all", limit=525):
	url = thread.url
	if re.search('www.reddit.com/r/', url):
		urls.append(url)

print(len(urls))

counter = 1
filename = 'redsox.json'

with open(filename, 'w+') as fp:
	for url in urls:
		# print(time.time())
		try:
			response = requests.get(url + ".json", timeout=10, headers = headers)
			json_data = response.json()
			if (len(json_data) >= 2):
				jstr = json.dumps(json_data)
				fp.write(jstr + '\n')
			time.sleep(10)
			print(f"{counter}: Successfully fetching {url}")
			
		except Exception as e:
			print(f"{counter}: Error fetching {url}")
			print(e)

		counter += 1

45
1: Successfully fetching https://www.reddit.com/r/redsox/comments/9s9k6o/the_boston_red_sox_have_won_the_2018_world_series/
2: Successfully fetching https://www.reddit.com/r/redsox/comments/1gg5wml/yankees_lose_celebration_thread/
3: Successfully fetching https://www.reddit.com/r/redsox/comments/scqspz/david_ortiz_has_been_inducted_into_the_baseball/
4: Successfully fetching https://www.reddit.com/r/redsox/comments/5u0ed4/dont_let_the_golden_state_warriors_cleveland/
5: Successfully fetching https://www.reddit.com/r/redsox/comments/56vqzw/thank_you_david_ortiz_megathread/
6: Successfully fetching https://www.reddit.com/r/redsox/comments/77xy5t/the_new_york_yankees_have_been_eliminated_from/
7: Successfully fetching https://www.reddit.com/r/redsox/comments/9xgo6j/mookie_betts_is_the_2018_al_mvp/
8: Successfully fetching https://www.reddit.com/r/redsox/comments/73h9qw/the_boston_red_sox_are_the_2017_al_east_champions/
9: Successfully fetching https://www.reddit.com/r/redsox/comments/5501e0/the_boston_red_sox_clinch_the_al_east_upvote_party/
10: Successfully fetching https://www.reddit.com/r/redsox/comments/dketnc/yankees_are_eliminated_thread/
11: Successfully fetching https://www.reddit.com/r/redsox/comments/9pjd2f/a_story_about_jbj_from_a_former_teammate/
12: Successfully fetching https://www.reddit.com/r/redsox/comments/9pg82f/were_going_to_the_world_series/
13: Successfully fetching https://www.reddit.com/r/redsox/comments/amxbdy/the_new_england_patriots_win_the_super_bowl/
14: Successfully fetching https://www.reddit.com/r/redsox/comments/9mln2n/brock_holt_has_hit_for_the_cycle/
15: Successfully fetching https://www.reddit.com/r/redsox/comments/9qod0a/wake_the_fuck_up_its_gameday_world_series_edition/
16: Successfully fetching https://www.reddit.com/r/redsox/comments/jd9fvc/congratulations_to_the_yankees_on_remaining_the/
17: Successfully fetching https://www.reddit.com/r/redsox/comments/94yebl/congratulations_rredsox_this_weekend_everyone_of/
18: Successfully fetching https://www.reddit.com/r/redsox/comments/71g4x6/chris_sale_joins_randy_johnson_pedro_martinez/
19: Successfully fetching https://www.reddit.com/r/redsox/comments/bte8w2/breaking_scientists_in_houston_discover_13year/
20: Successfully fetching https://www.reddit.com/r/redsox/comments/qdx41o/im_so_fucking_proud_of_this_team/
21: Successfully fetching https://www.reddit.com/r/redsox/comments/q0ssik/the_boston_red_sox_have_clinched_a_playoff_berth/
22: Successfully fetching https://www.reddit.com/r/redsox/comments/1gccaqm/daaaaaaaaaaa/
23: Successfully fetching https://www.reddit.com/r/redsox/comments/aubmqo/this_is_a_reminder_that_brock_holt_hit_for_the/
24: Successfully fetching https://www.reddit.com/r/redsox/comments/3nsmnj/yankees_lose_upvote_party/
25: Successfully fetching https://www.reddit.com/r/redsox/comments/1jpunhb/breaking_the_red_sox_just_announced_the_signing/
26: Successfully fetching https://www.reddit.com/r/redsox/comments/8bmxhh/joe_fucking_kelly/
27: Successfully fetching https://www.reddit.com/r/redsox/comments/q4crr9/tanner_houck_literally_just_saved_our_season/
28: Successfully fetching https://www.reddit.com/r/redsox/comments/vpbh8z/is_it_possible_to_change_an_account_username/
29: Successfully fetching https://www.reddit.com/r/redsox/comments/wqcgj8/yankees_lose_five_straight_series_for_first_time/
30: Successfully fetching https://www.reddit.com/r/redsox/comments/9hlobp/the_boston_red_sox_are_2018_american_league_east/
31: Successfully fetching https://www.reddit.com/r/redsox/comments/9io8ql/the_red_sox_have_a_franchise_record_of_106_wins/
32: Successfully fetching https://www.reddit.com/r/redsox/comments/prbw63/fuck_manny_machado/
33: Successfully fetching https://www.reddit.com/r/redsox/comments/f7yxgx/a_semiimportant_announcement/
34: Successfully fetching https://www.reddit.com/r/redsox/comments/rhhzfg/yankees_suck/
35: Successfully fetching https://www.reddit.com/r/redsox/comments/dpi8v3/this_decade_of_baseball_is_officially_over/
36: Successfully fetching https://www.reddit.com/r/redsox/comments/8tl4fx/the_tampa_bay_rays_have_swept_the_new_york/
37: Successfully fetching https://www.reddit.com/r/redsox/comments/bfuhek/つ_つflappy_bois_cant_eat_braised_beef_mouths_too/
38: Successfully fetching https://www.reddit.com/r/redsox/comments/9mw114/the_new_york_yankees_have_been_eliminated_from/
39: Successfully fetching https://www.reddit.com/r/redsox/comments/q2ist1/even_if_we_dont_go_any_further_into_the_playoffs/
40: Successfully fetching https://www.reddit.com/r/redsox/comments/13au9ii/is_this_the_weakest_the_yankees_rivalry_has_ever/
41: Successfully fetching https://www.reddit.com/r/redsox/comments/12mveot/the_red_sox_are_currently_07_against_oceanrelated/
42: Successfully fetching https://www.reddit.com/r/redsox/comments/dt6f1y/xander_bogaerts_the_greatest_al_east_shortstop_to/
43: Successfully fetching https://www.reddit.com/r/redsox/comments/9mo6of/i_know_its_great_brock_hit_for_the_cycle_we_won/
44: Successfully fetching https://www.reddit.com/r/redsox/comments/1jlfxja/wilyer_abreu_is_currently_on_pace_for_324_home/
45: Successfully fetching https://www.reddit.com/r/redsox/comments/9ll7k7/yankees_fan_here_coming_in_peace/

In [ ]:
# Collect NY Yankees data

urls = []
for thread in reddit.subreddit('nyyankees').top(time_filter="all", limit=150):
	url = thread.url
	if re.search('www.reddit.com/r/', url):
		urls.append(url)

print(len(urls))

# counter = 1
# filename = 'nyyankees.json'

# with open(filename, 'w+') as fp:
# 	for url in urls:
# 		# print(time.time())
# 		try:
# 			response = requests.get(url + ".json", timeout=10, headers = headers)
# 			json_data = response.json()
# 			if (len(json_data) >= 2):
# 				jstr = json.dumps(json_data)
# 				fp.write(jstr + '\n')
# 			time.sleep(10)
# 			print(f"{counter}: Successfully fetching {url}")
			
# 		except Exception as e:
# 			print(f"{counter}: Error fetching {url}")
# 			print(e)

# 		counter += 1

46

In [ ]:
# Collect Baltimore Orioles Data

urls = []
for thread in reddit.subreddit('orioles').top(time_filter="all", limit=350):
	url = thread.url
	if re.search('www.reddit.com/r/', url):
		urls.append(url)
print(len(urls))
counter = 1
filename = 'orioles.json'

with open(filename, 'w+') as fp:
	for url in urls:
		# print(time.time())
		try:
			response = requests.get(url + ".json", timeout=10, headers = headers)
			json_data = response.json()
			if (len(json_data) >= 2):
				jstr = json.dumps(json_data)
				fp.write(jstr + '\n')
			time.sleep(10)
			print(f"{counter}: Successfully fetching {url}")
			
		except Exception as e:
			print(f"{counter}: Error fetching {url}")
			print(e)

		counter += 1

42
1: Successfully fetching https://www.reddit.com/r/orioles/comments/n5rycv/john_means_throws_a_nohitter_upvote_party/
2: Successfully fetching https://www.reddit.com/r/orioles/comments/1i6rem2/petition_to_ban_x_links_on_this_sub/
3: Successfully fetching https://www.reddit.com/r/orioles/comments/4w53id/where_the_fuck_are_the_crab_dip_fries/
4: Successfully fetching https://www.reddit.com/r/orioles/comments/xu03we/winning_season_upvote_party/
5: Successfully fetching https://www.reddit.com/r/orioles/comments/1fuvskq/thank_you_corbin_burnes/
6: Successfully fetching https://www.reddit.com/r/orioles/comments/ynf8ac/trey_mancini_is_a_world_series_champion/
7: Successfully fetching https://www.reddit.com/r/orioles/comments/16uxp6v/100_wins_the_al_east_and_the_1_seed/
8: Successfully fetching https://www.reddit.com/r/orioles/comments/4n2dsi/upmanny_for_venturing_too_far/
9: Successfully fetching https://www.reddit.com/r/orioles/comments/oj6mhd/a_quick_round_of_applause_for_trey_mancini/
10: Successfully fetching https://www.reddit.com/r/orioles/comments/1fbcgcb/almost_every_food_and_drink_vendor_in_the_stadium/
11: Successfully fetching https://www.reddit.com/r/orioles/comments/bb1krq/chris_davis_setting_the_record_for_most/
12: Successfully fetching https://www.reddit.com/r/orioles/comments/x2rrbg/henderson_homer_party/
13: Successfully fetching https://www.reddit.com/r/orioles/comments/1ibdr8o/announcement_rorioles_will_no_longer_permit_links/
14: Successfully fetching https://www.reddit.com/r/orioles/comments/9yja7s/im_mike_elias_new_orioles_evp_general_manager_ama/
15: Successfully fetching https://www.reddit.com/r/orioles/comments/2iecaa/orioles_sweep_back_to_back_to_back_cy_young/
16: Successfully fetching https://www.reddit.com/r/orioles/comments/14va6w8/on_july_1st_the_twins_posted_on_instagram_is_that/
17: Successfully fetching https://www.reddit.com/r/orioles/comments/hyec5v/chris_davis_got_a_hit_upvote_party/
18: Successfully fetching https://www.reddit.com/r/orioles/comments/12uq7b8/5_games_above_500_for_the_first_time_in_a_long/
19: Successfully fetching https://www.reddit.com/r/orioles/comments/bcssyi/its_over_davis_gets_a_hit/
20: Successfully fetching https://www.reddit.com/r/orioles/comments/b8s2bp/4_in_a_row_upvote_party/
21: Successfully fetching https://www.reddit.com/r/orioles/comments/55xmno/number_of_times_orioles_fans_didnt_cover_their/
22: Successfully fetching https://www.reddit.com/r/orioles/comments/j0zu3j/orioles_wont_finish_last_in_the_al_east_upvote/
23: Successfully fetching https://www.reddit.com/r/orioles/comments/a76t6i/im_brandon_hyde_the_baltimore_orioles_20th/
24: Successfully fetching https://www.reddit.com/r/orioles/comments/55kf70/orioles_are_going_to_playoffs/
25: Successfully fetching https://www.reddit.com/r/orioles/comments/14ki02t/the_orioles_are_averaging_10_runs_a_game_since/
26: Successfully fetching https://www.reddit.com/r/orioles/comments/1f8j7si/the_yankees_lose_thhhe_yankeeees_lose_walk_off/
27: Successfully fetching https://www.reddit.com/r/orioles/comments/18vi42u/for_the_first_time_in_history_the_orioles_and_the/
28: Successfully fetching https://www.reddit.com/r/orioles/comments/pbqazb/orioles_end_losing_streak_upvote_party/
29: Successfully fetching https://www.reddit.com/r/orioles/comments/j8cmiw/yankees_eliminated_from_playoffs_upvote_party/
30: Successfully fetching https://www.reddit.com/r/orioles/comments/4viz0r/orioles_first_place_in_the_al_east_upvote_party/
31: Successfully fetching https://www.reddit.com/r/orioles/comments/w92new/your_2022_baltimore_orioles_will_now_officially/
32: Successfully fetching https://www.reddit.com/r/orioles/comments/yc1qvx/trey_mancini_is_going_to_the_world_series/
33: Successfully fetching https://www.reddit.com/r/orioles/comments/xvv2un/it_wasnt_us_upvote_party/
34: Successfully fetching https://www.reddit.com/r/orioles/comments/8tfdk9/we_temporarily_no_longer_have_the_worst_record_in/
35: Successfully fetching https://www.reddit.com/r/orioles/comments/15ezayq/with_a_42_win_over_the_toronto_blue_jays_your/
36: Successfully fetching https://www.reddit.com/r/orioles/comments/hyeihj/series_win_upvote_party/
37: Successfully fetching https://www.reddit.com/r/orioles/comments/q0sfke/the_orioles_will_pick_first_overall_in_the_2022/
38: Successfully fetching https://www.reddit.com/r/orioles/comments/hxtte1/1_win_upvote_party/
39: Successfully fetching https://www.reddit.com/r/orioles/comments/d3zaus/orioles_have_a_better_record_than_last_year/
40: Successfully fetching https://www.reddit.com/r/orioles/comments/1fc4b2p/i_just_became_an_even_bigger_ryan_ohearn_fan/
41: Successfully fetching https://www.reddit.com/r/orioles/comments/126hro4/wake_the_fuck_up_its_game_day/
42: Successfully fetching https://www.reddit.com/r/orioles/comments/vxswrz/upvote_party_like_it_1999_first_nine_game_winning/

In [ ]:
# Collect Toronto Blue Jays data

urls = []
for thread in reddit.subreddit('torontobluejays').top(time_filter="all", limit=150):
	url = thread.url
	if re.search('www.reddit.com/r/', url):
		urls.append(url)

print(len(urls))

# counter = 1
# filename = 'torontobluejays.json'

# with open(filename, 'w+') as fp:
# 	for url in urls:
# 		# print(time.time())
# 		try:
# 			response = requests.get(url + ".json", timeout=10, headers = headers)
# 			json_data = response.json()
# 			if (len(json_data) >= 2):
# 				jstr = json.dumps(json_data)
# 				fp.write(jstr + '\n')
# 			time.sleep(10)
# 			print(f"{counter}: Successfully fetching {url}")
			
# 		except Exception as e:
# 			print(f"{counter}: Error fetching {url}")
# 			print(e)

# 		counter += 1

40

In [165]:
# Collect Tampa Bay Rays data

urls = []
for thread in reddit.subreddit('tampabayrays').top(time_filter="all", limit=1000):
	url = thread.url
	if re.search('www.reddit.com/r/', url):
		urls.append(url)

print(len(urls))

counter = 1
filename = 'tampabayrays.json'

with open(filename, 'w+') as fp:
	for url in urls:
		# print(time.time())
		try:
			response = requests.get(url + ".json", timeout=10, headers = headers)
			json_data = response.json()
			if (len(json_data) >= 2):
				jstr = json.dumps(json_data)
				fp.write(jstr + '\n')
			time.sleep(10)
			print(f"{counter}: Successfully fetching {url}")
			
		except Exception as e:
			print(f"{counter}: Error fetching {url}")
			print(e)

		counter += 1

47
1: Successfully fetching https://www.reddit.com/r/tampabayrays/comments/1gg5v9x/kk_gets_a_ring_upvote_party/
2: Successfully fetching https://www.reddit.com/r/tampabayrays/comments/18elztu/fuck_the_dodgers/
3: Successfully fetching https://www.reddit.com/r/tampabayrays/comments/w2614o/sugar_shane_is_your_american_league_starter_for/

KeyboardInterrupt:

In [4]:
# Create df from games.csv

gdf = pd.read_csv('games.csv')



# Remove games with no AL East teams
teamIDs = ['BOS','TOR','TB','NYY','BAL']
gdf = gdf.loc[(
    		gdf['home'].apply(lambda x: x in teamIDs) |
            gdf['away'].apply(lambda x: x in teamIDs)
            )]

# Trim unnecessary columns
gdf = gdf.drop(columns=gdf.columns[24:], axis=1)
gdf = gdf.drop(columns=['Walks Issued - Away', 
					  'Walks Issued - Home', 
					  'Stolen Bases - Away', 
					  'Stolen Bases - Home', 
					  'Strikeouts Thrown - Away', 
					  'Strikeouts Thrown - Home',
					  'Total Bases - Away', 
					  'Total Bases - Home',
					  'Stadium',
					  'Location',
                      'Odds',
                      'O/U',
                      'postseason info',
                      'awayaway-record',
                      'homehome-record',
					  'away-record',
					  'home-record'])

gdf.columns = gdf.columns.str.lower()
gdf['time'] = gdf['date'].str[11:16]
gdf['date'] = gdf['date'].str[:10]


display(gdf)

C:\Users\ellio\AppData\Local\Temp\ipykernel_22184\1172363036.py:3: DtypeWarning: Columns (0,7,10,11,12,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  gdf = pd.read_csv('games.csv')

,game,away,home,away-score,home-score,date,attendance,time
1,360403130,TOR,TB,5.0,3.0,2016-04-03,"31,042",20:00
4,360404101,MIN,BAL,2.0,3.0,2016-04-04,"45,785",19:05
9,360404130,TOR,TB,5.0,3.0,2016-04-04,"15,116",23:10
13,360405110,HOU,NYY,5.0,3.0,2016-04-05,"47,820",17:00
14,360405105,BOS,CLE,6.0,2.0,2016-04-05,"34,493",17:10
...,...,...,...,...,...,...,...,...
23481,401361963,BOS,HOU,9.0,5.0,2021-10-16,"41,476",20:20
23484,401361966,HOU,BOS,3.0,12.0,2021-10-19,"37,603",00:08
23486,401361967,HOU,BOS,9.0,2.0,2021-10-20,"38,010",00:08
23487,401361971,HOU,BOS,9.0,1.0,2021-10-20,"37,599",21:08
23490,401361972,BOS,HOU,0.0,5.0,2021-10-23,"42,718",00:08

In [5]:
# Helper functions to get posts and comments

def get_post(jobj):
	data_obj = jobj[0]['data']['children'][0]['data']
	txt = data_obj['selftext']
	author = data_obj['author']
	time = data_obj['created_utc']
	
	return {
		'author': author,
		'created_utc': time,
		'text': txt
	}

def get_comment(jobj):
	comments = []
	for comment in jobj[1]['data']['children']:
		if 'author' in comment['data']\
		and 'created_utc' in comment['data']\
		and 'body' in comment['data']:
			cobj = {
				'author': comment['data']['author'],
				'created_utc': comment['data']['created_utc'],
				'text': comment['data']['body']
			}
			comments.append(cobj)

	return comments

# print(text2tokens("In this offering, one only has to view the current Westminster Kennel Club's annual offering to see the parallels."))

In [6]:
# Create df for each team from json data

or_posts = []

with open('orioles.json', 'r') as f:
	lines = f.readlines()

for line in lines:
	data_obj = json.loads(line)
	dobj = get_post(data_obj)
	or_posts.append(dobj)
	comments = get_comment(data_obj)
	or_posts.extend(comments)

or_df = pd.DataFrame(or_posts)

ny_posts = []

with open('nyyankees.json', 'r') as f:
	lines = f.readlines()

for line in lines:
	data_obj = json.loads(line)
	dobj = get_post(data_obj)
	ny_posts.append(dobj)
	comments = get_comment(data_obj)
	ny_posts.extend(comments)

ny_df = pd.DataFrame(ny_posts)

sox_posts = []

with open('redsox.json', 'r') as f:
	lines = f.readlines()

for line in lines:
	data_obj = json.loads(line)
	dobj = get_post(data_obj)
	sox_posts.append(dobj)
	comments = get_comment(data_obj)
	sox_posts.extend(comments)

sox_df = pd.DataFrame(sox_posts)


rays_posts = []

with open('tampabayrays.json', 'r') as f:
	lines = f.readlines()

for line in lines:
	data_obj = json.loads(line)
	dobj = get_post(data_obj)
	rays_posts.append(dobj)
	comments = get_comment(data_obj)
	rays_posts.extend(comments)

rays_df = pd.DataFrame(rays_posts)


jays_posts = []

with open('torontobluejays.json', 'r') as f:
	lines = f.readlines()

for line in lines:
	data_obj = json.loads(line)
	dobj = get_post(data_obj)
	jays_posts.append(dobj)
	comments = get_comment(data_obj)
	jays_posts.extend(comments)

jays_df = pd.DataFrame(jays_posts)



team_dfs = [or_df, ny_df, sox_df, rays_df, jays_df]

for team_df in team_dfs:
    team_df.columns = team_df.columns.str.lower()
    for idx, row in team_df.iterrows():
        dt = datetime.datetime.fromtimestamp(row['created_utc'])
        iso = dt.isoformat()
        team_df.at[idx, 'date'] = iso.split('T')[0]
        team_df.at[idx, 'time'] = iso.split('T')[1][0:5]
    team_df = team_df.drop(columns=['created_utc', 'author'], inplace=True)


display(team_dfs)

[                                                   text        date   time
 0       first career complete game no-hitter for Means!  2021-05-05  18:07
 1           #FIRST NO HITTER IN 30 YEARS LETS GOOOOOOOO  2021-05-05  18:08
 2     I can't believe the son of a bitch actually di...  2021-05-05  18:11
 3     EVERYBODY GET THE FUCK IN HERE PAT HIT HIS FIR...  2021-05-05  18:10
 4     WE'VE SUCKED FOR SO LONG HOW DO I TAKE THIS IN...  2021-05-05  18:07
 ...                                                 ...         ...    ...
 1576                                        I was here!  2022-07-12  23:14
 1577  Fun fact: Scott Erickson was the winning pitch...  2022-07-12  23:55
 1578  6 more wins and we break the all time Orioles ...  2022-07-12  23:33
 1579           Gonna have to start calling them the W's  2022-07-13  01:07
 1580  Back when Albert Belle was on the team and Che...  2022-07-13  08:01

 [1581 rows x 3 columns],
                                                    text        date   time
 0     There's a poll over at r/Baseball and a lot pe...  2025-01-21  12:28
 1     So the post banning X is bigger than the Yanke...  2025-01-23  21:27
 2                          This thread is hilarious!!!!  2025-01-22  11:51
 3     Yogi Berra and Joe DiMaggio served in the war ...  2025-01-21  12:41
 4     I think it's very sad that this is the top pos...  2025-01-23  16:30
 ...                                                 ...         ...    ...
 3861                                            *eluded  2021-06-24  21:13
 3862  this could have been boiled down to: "Sanchez ...  2021-06-24  22:40
 3863                            Sir, this is a Wendy's.  2021-06-24  23:40
 3864            Flawed because Jlo don’t really got ass  2021-06-25  02:38
 3865  This is how you do your DD when constructing a...  2021-06-25  07:08

 [3866 rows x 3 columns],
                                                    text        date   time
 0     Great season for the Red Sox that ends with th...  2018-10-28  23:17
 1     MACHADO FELL TO HIS FUCKING KNEES FOR THE LAST...  2018-10-28  23:49
 2     Took out two 100+ win teams, then the #1 seed ...  2018-10-28  23:55
 3     Man I love all you guys. This has been such an...  2018-10-28  23:38
 4     Posted this in /r/baseball, but I’d like to re...  2018-10-29  00:03
 ...                                                 ...         ...    ...
 2365                                          *Classic*  2018-10-05  15:32
 2366                                  Leaving in pieces  2018-10-05  12:42
 2367                                   FUCK THE YANKEES  2018-10-05  13:27
 2368                             haha fuck the Yankees   2018-10-05  17:20
 2369                                      So clever wow  2018-10-05  07:11

 [2370 rows x 3 columns],
                                                   text        date   time
 0                                  SO DOES GLASNOW FTY  2024-10-30  23:55
 1           KK gets to retire a World Series champion.  2024-10-31  00:58
 2                        I think Honeywell too, right.  2024-10-30  23:56
 3    I have to tread lightly with what I’m about to...  2024-10-31  00:03
 4    I'm so happy for him, the best possible end fo...  2024-10-31  00:15
 ..                                                 ...         ...    ...
 927            Lol Choi was eating an ice cream cone .  2022-07-07  19:59
 928  Waaaaaaayyyyyyy back when...\n\nJohnny Damon s...  2022-07-07  19:37
 929  Hey! That was me talking to Brett about the fa...  2022-07-08  09:27
 930                            Come to the light side.  2022-07-08  10:18
 931  What are we even doing here. Trot Nixon did no...  2022-07-08  12:43

 [932 rows x 3 columns],
                                                    text        date   time
 0     We have hit 800, pls post aquarium related thi...  2017-04-14  22:26
 1     I'm going to the game tomorrow but I'm going t...  2017-04-14  22:33
 2     I'm an Orioles fan but I must admit you guys r...  2017-04-14  22:40
 3                      *GIVE ME THE CUTTER GOOD DOCTOR*  2017-04-14  22:28
 4     [when i visited Toronto last November](http://...  2017-04-14  22:30
 ...                                                 ...         ...    ...
 3120  I feel like I'm taking fucking crazy pills. I'...  2017-07-02  23:51
 3121  Anyone else here high,and thought it was gonna...  2017-07-03  01:15
 3122  It's crazy.\nAt the end of the season the thou...  2017-07-03  08:11
 3123  Welp, never thought I'd see a headline like th...  2017-07-03  10:51
 3124                                        Trade smoak  2017-07-02  23:52

 [3125 rows x 3 columns]]

In [7]:
# Helper functions for text processing

def text2tokens(text):
	stop_words = set(stopwords.words('english'))
	ps = PorterStemmer()
	text = text.lower()
	textList = word_tokenize(text)
	textList = [word for word in textList if word not in stop_words and len(word) >= 3]

	textList = [ps.stem(word) for word in textList]
	return textList
    

def gen_bow(df, column):
	df['tokens'] = df[column].apply(text2tokens)
	dct = Dictionary(df['tokens'])
	dct.filter_extremes(no_below=5, no_above=0.5)
	df['bow'] = df['tokens'].apply(dct.doc2bow)
	worddict = {}

	for i in range(len(df)):
		for token in df.at[i,'bow']:
			if token in list(worddict.keys()):
				worddict[token] += 1
			else: 
				worddict[token] = 1

	df.drop('tokens', axis=1, inplace=True)	
	return df, worddict

In [8]:
gdf = gdf.sort_values(by='date',ascending=True)

team_ids = ['BAL', 'NYY', 'BOS', 'TB', 'TOR']


for i in range(5):
    team_df = team_dfs[i]
    team_id = team_ids[i]

     # Trim reddit posts which are outside date range for game data
    in_range = team_df.loc[(team_df['date'] <= '2021-10-23') & 
                          (team_df['date'] >= '2016-04-03')]
    
    print(team_id +':', len(in_range), 'out of', len(team_df), 'in date range')

    team_games = gdf.loc[(gdf['home'] == team_id) | (gdf['away'] == team_id)]
    display(team_games)

    in_range = pd.merge(left=in_range, right=team_games[['game', 'date']], how='left', on='date')
    
    team_dfs[i] = in_range

BAL: 833 out of 1581 in date range

,game,away,home,away-score,home-score,date,attendance,time
4,360404101,MIN,BAL,2.0,3.0,2016-04-04,"45,785",19:05
32,360406101,MIN,BAL,2.0,4.0,2016-04-06,"12,622",23:05
43,360407101,MIN,BAL,2.0,4.0,2016-04-07,"11,142",23:05
50,360408101,TB,BAL,1.0,6.0,2016-04-08,"17,304",23:05
76,360410101,TB,BAL,3.0,5.0,2016-04-10,"23,101",17:35
...,...,...,...,...,...,...,...,...
23419,401229438,BAL,TOR,4.0,6.0,2021-10-01,"28,855",23:07
13373,401229453,BAL,TOR,1.0,10.0,2021-10-02,"29,916",19:07
23432,401229453,BAL,TOR,1.0,10.0,2021-10-02,"29,916",19:07
23451,401229468,BAL,TOR,4.0,12.0,2021-10-03,"29,942",19:07
13392,401229468,BAL,TOR,4.0,12.0,2021-10-03,"29,942",19:07

NYY: 1708 out of 3866 in date range

,game,away,home,away-score,home-score,date,attendance,time
13,360405110,HOU,NYY,5.0,3.0,2016-04-05,"47,820",17:00
33,360406110,HOU,NYY,6.0,16.0,2016-04-06,"37,493",23:05
40,360407110,HOU,NYY,5.0,8.0,2016-04-07,"30,003",20:05
46,360408106,NYY,DET,0.0,4.0,2016-04-08,"45,049",17:10
61,360409106,NYY,DET,8.0,4.0,2016-04-09,"32,419",17:10
...,...,...,...,...,...,...,...,...
23431,401229466,TB,NYY,12.0,2.0,2021-10-02,"41,648",17:05
23450,401229481,TB,NYY,0.0,1.0,2021-10-03,"40,409",19:05
13391,401229481,TB,NYY,0.0,1.0,2021-10-03,"40,409",19:05
13402,401361933,NYY,BOS,2.0,6.0,2021-10-06,"38,324",00:00
23461,401361933,NYY,BOS,2.0,6.0,2021-10-06,"38,324",00:00

BOS: 1738 out of 2370 in date range

,game,away,home,away-score,home-score,date,attendance,time
14,360405105,BOS,CLE,6.0,2.0,2016-04-05,"34,493",17:10
30,360406105,BOS,CLE,6.0,7.0,2016-04-06,"10,298",22:10
51,360408114,BOS,TOR,8.0,7.0,2016-04-08,"48,871",23:07
60,360409114,BOS,TOR,8.0,4.0,2016-04-09,"47,138",17:07
73,360410114,BOS,TOR,0.0,3.0,2016-04-10,"46,158",17:07
...,...,...,...,...,...,...,...,...
13428,401361971,HOU,BOS,9.0,1.0,2021-10-20,"37,599",21:08
23487,401361971,HOU,BOS,9.0,1.0,2021-10-20,"37,599",21:08
13427,401361967,HOU,BOS,9.0,2.0,2021-10-20,"38,010",00:08
13431,401361972,BOS,HOU,0.0,5.0,2021-10-23,"42,718",00:08
23490,401361972,BOS,HOU,0.0,5.0,2021-10-23,"42,718",00:08

TB: 464 out of 932 in date range

,game,away,home,away-score,home-score,date,attendance,time
1,360403130,TOR,TB,5.0,3.0,2016-04-03,"31,042",20:00
9,360404130,TOR,TB,5.0,3.0,2016-04-04,"15,116",23:10
18,360405130,TOR,TB,2.0,3.0,2016-04-05,"12,757",23:10
25,360406130,TOR,TB,3.0,5.0,2016-04-06,"14,257",17:10
50,360408101,TB,BAL,1.0,6.0,2016-04-08,"17,304",23:05
...,...,...,...,...,...,...,...,...
13408,401361944,BOS,TB,14.0,6.0,2021-10-08,"37,616",23:02
23471,401361950,TB,BOS,4.0,6.0,2021-10-10,"37,224",20:07
13412,401361950,TB,BOS,4.0,6.0,2021-10-10,"37,224",20:07
23474,401361952,TB,BOS,5.0,6.0,2021-10-11,"38,447",23:07
13415,401361952,TB,BOS,5.0,6.0,2021-10-11,"38,447",23:07

TOR: 1887 out of 3125 in date range

,game,away,home,away-score,home-score,date,attendance,time
1,360403130,TOR,TB,5.0,3.0,2016-04-03,"31,042",20:00
9,360404130,TOR,TB,5.0,3.0,2016-04-04,"15,116",23:10
18,360405130,TOR,TB,2.0,3.0,2016-04-05,"12,757",23:10
25,360406130,TOR,TB,3.0,5.0,2016-04-06,"14,257",17:10
51,360408114,BOS,TOR,8.0,7.0,2016-04-08,"48,871",23:07
...,...,...,...,...,...,...,...,...
23419,401229438,BAL,TOR,4.0,6.0,2021-10-01,"28,855",23:07
13373,401229453,BAL,TOR,1.0,10.0,2021-10-02,"29,916",19:07
23432,401229453,BAL,TOR,1.0,10.0,2021-10-02,"29,916",19:07
23451,401229468,BAL,TOR,4.0,12.0,2021-10-03,"29,942",19:07
13392,401229468,BAL,TOR,4.0,12.0,2021-10-03,"29,942",19:07

In [10]:
team_dfs[0].to_csv('hw2_step1_or_posts.csv', index=False)
team_dfs[1].to_csv('hw2_step1_ny_posts.csv', index=False)
team_dfs[2].to_csv('hw2_step1_sox_posts.csv', index=False)
team_dfs[3].to_csv('hw2_step1_rays_posts.csv', index=False)
team_dfs[4].to_csv('hw2_step1_jays_posts.csv', index=False)